class <%= create_migration_class_name(chat_table_name) %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= chat_table_name %> do |t|
      t.timestamps
    end
  end
end
